@import 'styles/colors'
    
.dropdownContainer > ul li
    position: relative

.dropdownContainer > ul li ul
    display: none

.showDropdown
    display: block
    position: absolute
    background-color: white
    color: black
    width: 100%
    left: 0
    top: 100% 

.dropdownContainer > ul li:hover ul
    @extend .showDropdown

.dropdownContainer > ul li:focus-visible ul
    @extend .showDropdown





.parentList
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background-color: white
    border-radius: 6px

    li
        padding: 6px

    a:hover
        background-color: $dark-detail-color
        color: white
        
    
    a
        width: 100%
        height: 100%
        
