@import 'styles/colors'

.navContainer

    li
        position: relative
        background-color: transparent
        padding: 0

    a
        display: flex
        position: relative
        padding: 12px
        background-color: white
        border-radius: 0

    a:focus-visible
        background-color: white
        outline: 2px solid blue
        color: black
        z-index: 2
        text-decoration: underline


    a:hover
        background-color: blue
        color: white
        text-decoration: underline

.parentList
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    background-color: white
    border-radius: 6px

.parentList li ul
    display: none
    position: absolute
    background-color: white
    color: black
    width: 100%
    left: 0
    top: 100%

.parentList li:hover ul
    display: block


.displayNoLinkList
    display: block !important


.withButtonTab
    width: 80px

.openMenuButton
    position: absolute
    top: 50%
    right: 12px
    transform: translate(0, -50%)
    z-index: 3

.noLinkTab
