@import 'styles/colors'

.menu
    position: fixed
    width: 100%
    height: 100vh
    top: 0
    left: 0
    background-color: $hero-bg-color

.closeButtonContainer
    display: flex
    justify-content: right
    align-items: center
    width: 100%
    height: 74px
    padding: 0 18px

.closeButton
    position: relative
    width: 32px
    height: 32px
    background-color: transparent
    border: none
    padding: 0

.xBarOne
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) rotate(45deg)
    width: 24px
    height: 4px
    background-color: black
    border-radius: 100px

.xBarTwo
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) rotate(-45deg)
    width: 24px
    height: 4px
    background-color: black
    border-radius: 100px

.linksContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 50%
    text-align: center
    padding: 6px

    ul
        display: flex
        flex-direction: column
        gap: 64px
        font-size: 24px
    a
        padding: 6px