@import 'styles/colors'
@import 'styles/screenSize'
.nav
    display: flex
    width: 100%
    height: 106px
    background-color: white
    justify-content: space-between
    align-items: center
    padding: 0 12px

    a
        width: 91px
        height: 91px

.logo

.hamburgerButton
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background-color: transparent
    border: none
    padding: 4px
    width: 48px
    height: 72px
    color: black

.barsContainer
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 32px
    aspect-ratio: 1/1

.hamburgerBar
    background-color: #000
    width: 100%
    height: 4px
    border-radius: 100px

.desktopLinksList
    display: none

.listObject
    display: none

@media (min-width: $tablet)

@media (min-width: $desktop)
    .hamburgerButton
        display: none

    .desktopLinksList
        display: flex
        justify-content: space-between
        align-items: center
        gap: 12px
        margin: 0 24px 0 0

    .listObject
        display: inline
        font-size: 18px
