@import 'styles/colors'
.nav
    display: flex
    width: 100%
    height: 100px
    background-color: $primary-color
    justify-content: space-between
    align-items: center
    padding: 0 12px

.logo
    height: 100%
    padding: 6px

.hamburgerButton
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background-color: transparent
    border: none
    padding: 4px
    width: 48px
    height: 72px

.barsContainer
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 32px
    aspect-ratio: 1/1


.hamburgerBar
    background-color: #000
    width: 100%
    height: 4px
    border-radius: 100px

