@import 'styles/colors'
@import 'styles/screenSize'

.animationCardContentContainer
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.buttonContainer
  display: flex
  width: 100%
  padding-right: 12px 
  justify-content: right

  button:hover
    background-color: $dark-detail-color

.pauseButton
  margin-bottom: 12px
  border: none
  border-radius: 1000px
  padding: 12px
  border: 2px solid white
  width: 32px
  height: 32px
  background-color: transparent
  background-image: url('../../../public/assets/icons/pause-icon.svg')
  background-size: 80%
  background-repeat: no-repeat
  background-position: 50% 50%
  font-family: Poppins

.playButton
  @extend .pauseButton
  background-image: url('../../../public/assets/icons/play-icon.svg')


.animationContainer
    position: relative
    width: 90%
    max-width: 400px
    height: 200px
    margin: 12px

.animatedShape
    position: absolute
    border-radius: 36px
    left: 0
    top: 50%
    transform: translate(-50%)
    width: 136px
    height: 136px
    background-color: $hero-bg-color
    animation-name: moveShape
    animation-duration: 4s
    animation-direction: alternate
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out
    animation-delay: -2s

.pausedAnimatedShape
  @extend .animatedShape
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  -webkit-animation: none !important
  -moz-animation: none !important
  -o-animation: none !important
  -ms-animation: none !important
  animation: none !important

@keyframes moveShape 
  from
    left: 0
    transform: translate(0%, -50%)
  to 
    left: 100%
    transform: translate(-100%, -50%)

@media (prefers-reduced-motion: reduce)
  .animatedShape
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important