@import 'styles/colors'
@import 'styles/screenSize'

.footer
    width: 100%
   

.backgrund
    height: 654px
    width: 100%
    background-image: url('../../public/assets/images/footer_image_mobile.svg')
    background-repeat: no-repeat
    background-size: cover
    position: absolute

.logoContainer
    display: flex
    margin: 108px 0 0 16px
    a
        width: 75px
        height: 75px
        padding: 0


.contentContainer
    display: flex
    flex-direction: column
    padding-left: 50%
    padding-right: 12px
    li
        margin: 6px

.pageLinkContainer
    display: flex
    flex-direction: column
    margin-bottom: 24px 

.textLink
    font-size: 16px
    color: $text-color  
    margin:0
    padding-bottom: 8px
    font-family: Poppins

.contactContainer
    display: flex
    flex-direction: column
    margin: 0 8px 48px 0

.link 
    text-decoration: underline

.socialContainer
    display: flex
    flex-direction: row
    gap: 16px
    a
        width: 44px
        height: 44px

.text
    font-size: 16px
    color: $text-color  
    margin:0
    padding: 0 0 8px 12px
    font-family: Poppins

.copyRight
    margin-left: 16px
    position: absolute
    bottom: 0

.textCopyRight
    @extend .text
    font-size: 12px

.socialImage
    width: 32px
    height: 32px


@media (min-width: $tablet)
    .backgrund
         background-image: url('../../public/assets/images/footer_image_tablet.svg')
         height: 287px
    .logoContainer
        margin: 48px 0 0 16px
    .contentContainer
        flex-direction: row
        padding-left: 0
        width: 100%
        justify-content: space-between
        padding: 0 32px 0 163px
        ul
            margin-top: 0

    .contactAndSocialContainer
        display: flex
        flex-direction: column
        padding-top: 6px   
    .contactContainer
        margin: 0 0 16px 0
    .socialContainer
        align-items: center
        gap: 24px
    .copyRight
       

@media (min-width: $desktop)
    .backgrund
        background-image: url('../../public/assets/images/footer_image_desktop.svg')
        height: 343px    
    .text
        font-size: 18px
    .textLink
        font-size: 18px
    .textCopyRight
        @extend .text
        font-size: 16px
    .socialImage
        width: 48px
        height: 48px
    .socialContainer
        a
            width: 60px
            height: 60px
