.footer
    width: 100%
    height: 654px
    background-image: url('../../public/assets/images/footer_image_mobile.svg')
    background-repeat: no-repeat
    background-size: cover

.pageLinkContainer

.contactContainer