@import 'styles/colors'
@import 'styles/screenSize'

.card
    width: 100%
    min-height: 400px
    margin: 0 auto
    border-radius: $page-gutter-size
    overflow: hidden
    box-shadow: $main-box-shadow

.infoContainer
    min-height: 200px
    background-color: white

    .infoTextContainer
        margin: $page-gutter-size

    p
        font-family: Poppins
        font-size: 16px
        line-height: 24px
    
    .sourceParagraph
        font-size: 12px
        margin: 2px 0
    
    a
        text-decoration: underline
        word-wrap: break-word
    


.infoHeaderContainer
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $dark-detail-color
    height: 50px
    
    h3
        margin: 0 calc($page-gutter-size - 6px)
        color: white
        font-size: 20px
        scroll-margin-top: 24px
        padding: 6px
        border-radius: 6px
    
    h3:focus-visible
        outline: 2px solid white
    
    a
        margin: 0 $page-gutter-size
        color: white
        text-decoration: underline

    a:focus-visible
        outline: 2px solid white

.componentContainer
    display: flex
    justify-content: center
    align-items: center
    min-height: 200px
    background-color: $card-bg-color

@media (min-width: $tablet)
    .card
        display: flex
        flex-direction: row-reverse
        max-width: $card-max-width
    
    .infoContainer
        width: 50%
        p
            font-size: 16px
        .sourceParagraph
            font-size: 14px

    .componentContainer
        width: 50%