@import 'styles/colors'
@import 'styles/screenSize'

.main
    display: flex
    flex-direction: column
    align-items: center

.startSectionContainer
    display: flex
    justify-content: center
    padding-top: 50px
    width: 100%
    min-height: calc(100vh - 106px)
    background-color: $hero-bg-color
    align-items: flex-start

.logoBG
    display: none

.itemsSection
    display: flex
    flex-direction: column
    max-width: $card-max-width
    padding: 24px
    gap: 48px

.itemsHeaderContainer
    width: 100%
    max-width: $card-max-width
    padding: $page-gutter-size
    padding: 24px 0 12px 32px

    h2
        margin: 0

@media (min-width: $tablet)
    .itemsHeaderContainer
        padding: 24px 0 12px 48px
    
    .logoBG
        display: block
        position: absolute
        right: 0
        bottom: -60px
        z-index: 1
        width: auto
        height: 90%