

.main
    flex: 1
    //https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
    
.itemsSection
    display: flex
    flex-direction: column
    padding: 24px